:root {
    --accent-1: #ff5151;
    --accent-2: #25283d;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: "articulat-cf", sans-serif;
    background-color: white;
}

p {
    color: var(--accent-2);
    font-size: 1.5rem;
    font-weight: normal;
}

nav {
    position: absolute;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    top: 0;
    z-index: 1;
    margin: auto;
}

nav ul li {
    display: inline-block;
    text-align: center;
    margin: 1em;
    font-size: 1.5rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--accent-1);
}

a:visited {
    color: var(--accent-1);
}

.fullscreen {
    width: 100%;
    position: relative;
    top: 0;
    z-index: -1;
}

.img-content-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    line-height: 2.5em;
}

.img-content-split img {
    width: 40vw;
    height: auto;
    margin: 0;
    padding: 0;
}

.img-content-split .text-content {
    margin-left: 2em;
}

.emphasis {
    color: var(--accent-1) !important;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.dark {
    padding: 5em 20%;
    background-color: var(--accent-2);
    background: no-repeat var(--accent-2);
    line-height: 3em;
}

.dark p {
    color: white;
    margin: 0.5em 0;
}

.dark[style*="background-image"] p:not(.emphasis) {
    filter: drop-shadow(.04em .04em var(--accent-1));
}

.center {
    text-align: center;
}

.small p {
    font-size: 0.85rem;
}

.organizations-info {
    padding: 9em 0 1em 0;
}

.organizations {
    width: 90%;
    margin: 2em auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.organization {
    width: 30em;
    height: 10rem;
    margin-bottom: 5em;
    text-align: center;
}

.organization img {
    width: 30%;
}

@media only screen and (max-width: 600px) {
    nav {
        position: relative;
    }

    nav ul li {
        margin: 0 0.75em;
        font-size: 1.2rem;
    }
    
    .img-content-split {
        flex-direction: column;
        align-items: center;
    }

    .img-content-split img {
        width: 80vw;
    }

    .img-content-split .text-content {
        margin: 0;
    }

    .dark {
        padding: 5em 5%;
    }

    .text-content {
        text-align: center;
    }

    .organizations-info {
        padding: 1em 0;
    }

    .organizations {
        width: 100%;
        overflow: hidden;
    }
}